/* colors */
:root {
	--seperator: rgba(0, 0, 0, 0.1);
}

/* general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a,
p,
li {
	text-decoration: none;
	color: inherit;
	font-family: "Montserrat", sans-serif;
	font-size: 0.8em;
}

li {
	list-style-type: none;
}

/* reusable */
.flex {
	display: flex;
}

.container {
	max-width: 1800px;
	margin: 0 auto;
	margin-left: 5%;
	margin-right: 5%;
}

.bold {
	font-weight: 600;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	height: 1px;
	border: none;
}

/* header */
header {
	padding: 0.8em 0;
	border-bottom: 1.3px solid var(--seperator);
}

header .container {
	justify-content: space-between;
}

header .container,
.links {
	align-items: center;
}

header .links {
	gap: 1em;
}

.left,
.right,
.center {
	flex: 1;
}

.right {
	justify-content: right;
}

.center {
	justify-content: center;
}

.dropdown,
.center .links {
	border: 1.3px solid var(--seperator);
	border-radius: 2em;
	padding: 0.3em 0.3em 0.1em 0.3em;
}

.center .links {
	padding: 0.2em 0.4em 0.2em 1.5em;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.vert-line {
	border-left: 1.5px solid var(--seperator);
}

/* caroussel */
.filter-bar {
	padding-top: 2.5em;
	justify-content: space-evenly;
	gap: 1em;
}

.caroussel .filter {
	flex-direction: column;
	align-items: center;
}

.caroussel.flex {
	justify-content: space-between;
	gap: 2em;
}

.caroussel .bold {
	font-size: 0.7em;
	color: rgba(0, 0, 0, 0.5);
}

.filter-button {
	align-items: center;
	border: 1.3px solid var(--seperator);
	border-radius: 0.85em;
	flex: 0;
	padding: 0 1em;
}

.filter-button .flex {
	gap: 0.5em;
}

.filter-button a {
	font-weight: 600;
	font-size: 0.7em;
}

/* Places Grid */
.places-grid {
	margin-top: 2em;
}

.places-grid .flex {
	justify-content: space-evenly;
	flex-wrap: wrap;
	row-gap: 2.5em;
}

.place-info {
	padding-top: 0.7em;
	justify-content: space-between;
}

.place-info li {
	font-size: 1.1em;
	padding: 0.2em 0;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 500;
}

.place-info .location {
	font-weight: 600;
}

.place img {
	max-width: 23em;
	border-radius: 1em;
	height: auto;
}

.place-info .left {
	flex: 2;
}

.place-info .right {
	justify-content: right;
}

.place-info .price {
	padding-top: 0.5em;
}

.place-info .right img {
	max-width: 1.5em;
	max-height: 1.2em;
}

/* show more */
.show-more {
	row-gap: 1em;
	padding: 3em 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.show-more p {
	font-size: 0.8em;
}

.show-more a {
	font-size: 0.8em;
	color: white;
	background-color: black;
	padding: 0.9em 1.6em;
	border-radius: 0.5em;
}

/* before footer */
.before-footer,
footer,
.fr-bottom {
	background-color: #f7f7f7;
	padding: 2.5em 0;
}

.before-footer .container {
	flex-direction: column;
	row-gap: 1.7em;
}

.footer-options {
	font-size: 1em;
	gap: 1.5em;
}

.footer-options li {
	color: rgba(0, 0, 0, 0.7);
}

.footer-title {
	font-size: 1em;
}

/* before footer locations */
.footer-locations {
	column-gap: 11%;
}

.footer-locations p {
	font-size: 1em;
}

.footer-locations ul {
	flex-direction: column;
	row-gap: 1.5em;
}

.locations-subtitle {
	color: rgba(0, 0, 0, 0.8);
}

/* real footer */
footer,
.fr-bottom {
	padding-top: 0;
}

footer .container,
.fr-bottom .container {
	padding: 2em 0;
}

.bottom-footer-cols {
	column-gap: 20%;
}

.bottom-footer-cols .flex {
	flex-direction: column;
	gap: 0.8em;
}

.bottom-footer-cols a {
	font-size: 0.65em;
}

/* bottom of bottom footer*/
