/* colors */
:root {
	--seperator: rgba(0, 0, 0, 0.1);
}

/* general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a,
p,
li,
h1,
h2,
h3 {
	text-decoration: none;
	color: inherit;
	font-family: "Montserrat", sans-serif;
	font-size: 0.8rem;
}

li {
	list-style-type: none;
}

/* reusable */
.flex {
	display: flex;
}

.container {
	margin: 0 auto;
	margin-left: 4.5%;
	margin-right: 4.5%;
}

.bold {
	font-weight: 600;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	height: 1px;
	border: none;
}

/* fixed top part */
.ontop {
	background-color: white;
	position: fixed;
	width: 100%;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

/* header */
header {
	padding: 1rem 0;
	border-bottom: 1.3px solid var(--seperator);
}

header .container {
	justify-content: space-between;
}

header .container,
.links {
	align-items: center;
}

header .links {
	gap: 1rem;
}

header .left,
header .right,
header .center {
	flex: 1;
}

header .right {
	justify-content: right;
	color: rgba(0, 0, 0, 0.8);
}

header .left img {
	max-width: 7rem;
}

.center {
	justify-content: center;
}

.dropdown,
.center .links {
	border: 1.3px solid var(--seperator);
	border-radius: 2rem;
	padding: 0.3em 0.3em 0.1em 0.3rem;
}

.dropdown.links.flex {
	gap: 0.5em;
}

.center .links {
	padding: 0.2em 0.4em 0.2em 1.5rem;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.vert-line {
	border-left: 1.5px solid var(--seperator);
}

/* caroussel */
.filter-bar {
	padding: 1.3rem 0;
	justify-content: space-between;
	gap: 2rem;
}

.caroussel .filter {
	flex-direction: column;
	align-items: center;
}

.caroussel.flex {
	flex: 1;
	justify-content: space-between;
}

.filter a {
	text-align: center;
}

.caroussel .bold {
	font-size: 0.7rem;
	color: rgba(0, 0, 0, 0.5);
}

.filter-button,
.filter-arrow {
	align-items: center;
	justify-content: center;
	border: 1.3px solid var(--seperator);
	border-radius: 0.85rem;
	flex: 1;
	padding: 1rem;
}

.filter-button {
	gap: 0.5rem;
}

.filter-button-group {
	font-weight: 500;
	font-size: 0.7rem;
	gap: 2em;
	align-items: center;
}

.filter-arrow {
	max-height: 2rem;
	max-width: 1rem;
	border-radius: 50%;
	padding: 0.6rem 0.9rem;
}

/* Places Grid */
.places-grid {
	padding-top: 11.5rem;
}

.places-grid .flex {
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 2.5em;
	column-gap: 1em;
}

.place-info {
	padding-top: 0.7rem;
	justify-content: space-between;
}

.place-info li,
.place-info p {
	font-size: 0.9rem;
	padding: 0.2em 0;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 500;
}

.place-info p {
	color: black;
}

.place-info .location {
	font-weight: 600;
	color: black;
}

.place img {
	max-width: 18rem;
	border-radius: 0.75rem;
	height: auto;
}

.place-info .left {
	flex: 2;
}

.place-info .right {
	justify-content: right;
	align-items: flex-start;
}

.place-info .price {
	padding-top: 0.5rem;
	color: black;
}

.place-info .right img {
	max-width: 1.2rem;
	max-height: 1rem;
}

.right-container.flex {
	align-items: center;
	gap: 0.1rem;
}
/* show more */
.show-more {
	row-gap: 1rem;
	padding: 3em 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.show-more p {
	font-size: 1rem;
}

.show-more a {
	font-size: 0.9rem;
	color: white;
	background-color: black;
	padding: 1.1rem 1.4rem;
	border-radius: 0.5rem;
}

/* before footer */
.before-footer,
footer,
.fr-bottom {
	background-color: #f7f7f7;
	padding: 3em 0;
}

.before-footer .container {
	flex-direction: column;
	row-gap: 1.7rem;
}

.footer-title.bold {
	font-size: 1.3rem;
}

.footer-options {
	font-size: 1rem;
	gap: 1.5rem;
}

.footer-options li {
	color: rgba(0, 0, 0, 0.7);
}

.footer-title {
	font-size: 1rem;
}

/* before footer locations */
.footer-locations {
	column-gap: 10%;
}

.footer-locations p {
	font-size: 0.8rem;
}

.footer-locations ul {
	flex-direction: column;
	row-gap: 1.8rem;
}

.footer-locations ul a {
	flex-direction: column;
	gap: 0.1rem;
}

.locations-subtitle {
	color: rgba(0, 0, 0, 0.8);
}

/* real footer */
footer,
.fr-bottom {
	padding-top: 0;
}

footer .container,
.fr-bottom .container {
	padding: 2em 0;
}

.pleasefixthepadding {
	padding-bottom: 0 !important;
}

.bottom-footer-cols {
	column-gap: 20%;
}

.bottom-footer-cols .flex {
	flex-direction: column;
	gap: 1rem;
}

.bottom-footer-cols a {
	font-size: 0.8rem;
}

/* bottom of bottom footer*/
.fr-bottom .flex {
	padding: 1rem 0;
	padding-bottom: 0 !important;
	padding-top: 0.5rem;
}

.fr-bottom .left,
.fr-bottom .right.flex {
	gap: 0.5rem;
	align-items: center;
}

.fr-bottom .right {
	gap: 1rem !important;
}

.fr-bottom .right.flex .footer-globe-group {
	gap: 0.5rem;
	padding: 0;
	align-items: center;
}

.fr-bottom .container {
	padding-bottom: 0rem;
}

.fr-bottom .container div {
	justify-content: space-between;
}

.fr-bottom {
	padding: 1rem 0;
}

.fr-bottom hr {
	padding-top: 0;
}

.socials img {
	max-width: 6rem;
}

/* HOUSE PAGE */
/* header */
.container.house {
	margin: 0 auto;
	margin: 0 17%;
}

.center.house {
	color: rgba(0, 0, 0, 0.8);
}

.center.house .links {
	gap: 7.5rem;
}

/* hero */

.title-block .left .flex,
.title-block .right .flex,
.title-block .left,
.title-block .right,
.title-block .subtitle,
.title-block .right .li {
	align-items: center;
}

.hero {
	padding-top: 1.5rem;
}

.title-block h1 {
	font-size: 1.5rem;
}

.title-block .subtitle {
	justify-content: space-between;
	padding-top: 0.7rem;
}

.title-block .subtitle .left a,
.title-block .right p {
	border-bottom: 1.5px solid black;
}

.title-block .left {
	gap: 0.5rem;
	flex: 2;
}

.title-block .left .rating img {
	max-width: 1.3rem;
}

.title-block .left .endorsement {
	gap: 0.3rem;
}

.title-block .left .endorsement img {
	max-width: 0.7rem;
}

.title-block .right {
	gap: 1rem;
}

.title-block .right img {
	max-width: 1rem;
}

.title-block .right li a {
	gap: 0.5rem;
}

/* hero pictures */
.hero-pictures {
	padding-top: 1.5rem;
	gap: 0.5rem;
}

.hero-pictures .left,
.hero-pictures .right {
	gap: 0.5rem;
	align-items: flex-start;
	max-width: 50%;
	max-height: 32rem;
	overflow: hidden;
}

.hero-pictures .left {
	border-top-left-radius: 0.7rem;
	border-bottom-left-radius: 0.7rem;
}

.hero-pictures .right {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	flex-wrap: wrap;
}

.left .img-box {
	max-width: 50%;
	justify-content: center;
}

.right .img-box {
	max-width: 49.2%;
	max-height: 50%;
	overflow: hidden;
}

.hero-pictures .left .img-box img {
	height: 32rem;
}

.hero-pictures .right .img-box img {
	height: 16rem;
}

/* hero info general styling */
.hero-info {
	justify-content: space-between;
	padding-top: 3rem;
	gap: 2rem;
}

.hero-info p {
	font-size: 0.9rem;
}

.hero-info .bold {
	font-weight: 600;
}

/* hero info title block*/
.main-left {
	max-width: 60%;
}

.hero-info h2 {
	font-size: 1.3rem;
}

.hero-info hr {
	margin: 1.8rem 0;
}

.amenities {
	padding-top: 0.5rem;
	gap: 0.3rem;
	font-weight: 500;
}

/* hero info sub-info */
.hero-info .info-block {
	flex-direction: column;
	row-gap: 1.5rem;
}

.hero-info .info-block li {
	gap: 2rem;
}

.hero-info .info-block .info {
	gap: 0.4rem;
	flex-direction: column;
}

.hero-info .info-block .info .description {
	font-size: 0.85rem;
	color: rgba(0, 0, 0, 0.7);
}

.info-para {
	padding-bottom: 1rem;
}

.info-para p {
	padding-bottom: 1.3rem;
	line-height: 1.3rem;
	font-size: 0.9rem;
	font-weight: 500;
}

.info-para a {
	font-size: 0.9rem;
}

.info-para span {
	border-bottom: 1.5px solid black;
}

/* bed grid */
.rooms {
	padding-bottom: 1rem;
}

.rooms h2 {
	padding-top: 1rem;
}

.rooms .boxes {
	justify-content: space-between;
	padding-top: 1.5rem;
	gap: 1rem;
}

.boxes li {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.8rem;
	padding: 1.5rem;
	flex: 1;
}

.boxes a,
.boxes div {
	flex-direction: column;
}

.boxes a {
	gap: 1.3rem;
}

.boxes div {
	gap: 0.6rem;
}

.boxes .subtitle {
	font-size: 0.8rem;
}

/* right side of hero-info */
.hero-info .right {
	padding-bottom: 2rem;
	padding-left: 3.5rem;
	flex-direction: column;
	gap: 2rem;
}

.hero-info .card {
	padding: 1.5rem;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.7rem;
	flex-direction: column;
	gap: 0.5rem;
	box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.hero-info .card h2 {
	font-weight: 500;
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.7);
}

.hero-info .card span {
	font-size: 1.3rem;
	color: black;
}
/* Rating block */
.card .rating-block {
	gap: 0.2rem;
	align-items: center;
	padding-bottom: 1rem;
}

.card .rating-block p {
	font-size: 0.8rem;
}

.card .rating-block img {
	width: 1.2rem;
}

/* Date block */
.date-block {
	flex-wrap: wrap;
	border-radius: 0.5rem;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
}
.date-block a {
	padding: 0.8rem;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	gap: 0.2rem;
	flex-direction: column;
}

.date-block p {
	font-size: 0.8rem;
}

.date-block p.bold {
	font-size: 0.6rem;
}

.date-block .check-in,
.date-block .checkout {
	flex: 2;
	width: 50%;
	overflow: hidden;
}

.date-block .guests {
	min-width: 100%;
}

.date-block .check-in {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
}

.date-block .checkout {
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
}

.date-block .guests {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

/* Reserve button */
.reserve {
	text-align: center;
	background-image: linear-gradient(to right, #e61e4d, #d70566);
	padding: 1rem 0;
	border-radius: 0.5rem;
	color: white;
	font-size: 0.9rem;
	margin: 0.4rem 0 0 0;
}

.card .details-1,
.card .details-2 {
	text-align: center;
	font-size: 0.8rem;
}

.card .details-1 {
	padding-top: 0.5rem;
}

.card .details-2 {
	padding-bottom: 1rem;
	flex-direction: column;
}

/* pricing */
.fees {
	row-gap: 1.25rem;
	flex-direction: column;
}

.fees li {
	justify-content: space-between;
}

.fees p {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.8);
}

.fees .discount {
	color: #159646;
}

.card hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* total cost */
.card .total {
	justify-content: space-between;
}

.card .total p {
	color: rgba(0, 0, 0, 0.8);
}

/* report */
.report a {
	justify-content: center;
	gap: 0.5rem;
	color: rgba(0, 0, 0, 0.6);
}

.report p {
	font-size: 0.8rem;
}
